@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
@font-face {
	font-family: 'DungGeunMo';
	src: url("/font/DungGeunMo.ttf") format("truetype");
}	

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: linear-gradient(45deg, greenyellow, dodgerblue);
  /* font-family: "Sansita Swashed", cursive; */
}
.center {
  position: relative;
  padding: 10px 10px;
  background: #fff;
  border-radius: 10px;
}

.center h1 {
  font-family: "DungGeunMo";	
  font-size: 30px;
  padding: 2px auto 1px;
  color: #00af79;
  font-weight: bold;
  
}

.dots {
  margin: 1px 0;
  border: 0;
}
.dots:before {
  content: "•••";
  font-size: 20px;
  color: #00af79;
}

.center p {
  font-family: 'Gothic A1', sans-serif;	
  font-size: 15px;
/*   border-left: 5px solid #808080; */
  padding: 1px auto 2px;
  color: black;
  font-weight: 400;
  margin-bottom: 5px;
/*   text-align: center;	  */ 
}

.center label {
  font-family: 'Gothic A1', sans-serif;	
  font-size: 20px;
  padding: 1px auto 2px;
  color: black;
  font-weight: 400;
  margin-bottom: 40px;
}

.center .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin: 30px 0px 10px 0px;
}

.center .inputbox2 {
  position: relative;
  width: 300px;
  height: 50px;
  margin: -10px 0px 10px 0px;
}

.center .inputbox:last-child {
  margin-bottom: 0;
}
.center .inputbox input {
	font-family: 'Roboto', sans-serif;	
	font-size:13px;
	width: 50%;
	height: 30px;
	box-sizing: border-box;
	background-color: #00af79;
	border:0;
	border-radius: 100px;
	color: white;
	cursor: pointer;
	padding: 0px;
	text-align:center;
}
.center .inputbox2 input {
	font-family: 'Roboto', sans-serif;	
	font-size:13px;
	width: 50%;
	height: 30px;
	box-sizing: border-box;
	background-color: #00af79;
	border:0;
	border-radius: 100px;
	color: white;
	cursor: pointer;
	padding: 0px;
	text-align:center;
}

.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}

.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}


.center .inputbox [type="button"] {
  background-color: #00af79;
/*   color: #fff;
  border: #fff; */
}
.center .inputbox2 [type="button"] {
  background-color: #00af79;
}
.center .inputbox:hover [type="button"] {
  /* background: linear-gradient(45deg, greenyellow, dodgerblue); */
 	background-color: #Fed354;
	color: #00af79;	  
}
.center .inputbox2:hover [type="button"] {
 	background-color: #Fed354;
	color: #00af79;	  
}



