<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dao.BoardDao">
<select id="postList" parameterType="map" resultType="com.spring.dto.BoardDto">
	select * from (select postid, userid, title, postcon, pictureid, postdate, readcount, rec, head, nickname, rownum r from (select * from board order by postdate desc) 
	<if test="searchtype == 0">
		<if test="rec == 0">
		<if test="head == 0"> where postid &gt;= 1</if>
		<if test="head == 1"> where head = '공지'</if>
		<if test="head == 2"> where head = '자랑'</if>
		<if test="head == 3"> where head = '리뷰'</if>
		<if test="head == 4"> where head = '질문'</if>
		</if>
		<if test="rec == 1">
		where rec &gt; 10
		<if test="head == 0"> and postid &gt;= 1</if>
		<if test="head == 1"> and head = '공지'</if>
		<if test="head == 2"> and head = '자랑'</if>
		<if test="head == 3"> and head = '리뷰'</if>
		<if test="head == 4"> and head = '질문'</if>
		</if>
	</if>
	<if test="searchtype == 1">
		where title like '%'||#{searchword}||'%'
		<if test="rec == 0">
		<if test="head == 0"> and postid &gt;= 1</if>
		<if test="head == 1"> and head = '공지'</if>
		<if test="head == 2"> and head = '자랑'</if>
		<if test="head == 3"> and head = '리뷰'</if>
		<if test="head == 4"> and head = '질문'</if>
		</if>
		<if test="rec == 1">
		and rec &gt; 10
		<if test="head == 0"> and postid &gt;= 1</if>
		<if test="head == 1"> and head = '공지'</if>
		<if test="head == 2"> and head = '자랑'</if>
		<if test="head == 3"> and head = '리뷰'</if>
		<if test="head == 4"> and head = '질문'</if>
		</if>
	</if>
	<if test="searchtype == 2">
		where userid like '%'||#{searchword}||'%'
		<if test="rec == 0">
		<if test="head == 0"> and postid &gt;= 1</if>
		<if test="head == 1"> and head = '공지'</if>
		<if test="head == 2"> and head = '자랑'</if>
		<if test="head == 3"> and head = '리뷰'</if>
		<if test="head == 4"> and head = '질문'</if>
		</if>
		<if test="rec == 1">
		and rec &gt; 10
		<if test="head == 0"> and postid &gt;= 1</if>
		<if test="head == 1"> and head = '공지'</if>
		<if test="head == 2"> and head = '자랑'</if>
		<if test="head == 3"> and head = '리뷰'</if>
		<if test="head == 4"> and head = '질문'</if>
		</if>
	</if>
	<if test="searchtype == 3">
		where postcon like '%'||#{searchword}||'%'
		<if test="rec == 0">
		<if test="head == 0"> and postid &gt;= 1</if>
		<if test="head == 1"> and head = '공지'</if>
		<if test="head == 2"> and head = '자랑'</if>
		<if test="head == 3"> and head = '리뷰'</if>
		<if test="head == 4"> and head = '질문'</if>
		</if>
		<if test="rec == 1">
		and rec &gt; 10
		<if test="head == 0"> and postid &gt;= 1</if>
		<if test="head == 1"> and head = '공지'</if>
		<if test="head == 2"> and head = '자랑'</if>
		<if test="head == 3"> and head = '리뷰'</if>
		<if test="head == 4"> and head = '질문'</if>
		</if>
	</if>
	order by postdate desc) where r &gt;= #{start} and r &lt;= #{end}
</select>
<select id="count" resultType="int">
	select count(*) from board
</select>
<insert id="boardwrite" parameterType="com.spring.dto.ReplyDto">
	insert into board (postid, userid, title, postcon, pictureid, postdate, head, nickname) values(board_seq.nextval, #{userid}, #{title}, #{postcon}, #{pictureid}, sysdate, #{head}, #{nickname})
</insert>
<select id="dtobypostid" parameterType="int" resultType="com.spring.dto.BoardDto">
	select * from board where postid = #{postid}
</select>
<update id="readcountplus" parameterType="int">
	update board set readcount = readcount+1 where postid = #{postid}
</update>
<update id="recplus" parameterType="int">
	update board set rec = rec+1 where postid = #{postid}
</update>
<insert id="recregist" parameterType="map">
	insert into recommend (userid, postid) values(#{userid}, #{postid})
</insert>
<select id="reccheck" parameterType="map" resultType="int">
	select count(*) from recommend where postid = #{postid} and userid = #{userid}
</select>
<update id="boardupdate" parameterType="com.spring.dto.ReplyDto">
	update board set title=#{title}, postcon=#{postcon}, pictureid=#{pictureid}, head= #{head} where postid = #{postid}
</update>
<delete id="boarddelete" parameterType="int">
	delete from board where postid = #{postid}
</delete>
<select id="selectReply" parameterType="int" resultType="com.spring.dto.ReplyDto">
	select * from reply where postid = #{postid} order by replydate 
</select>
<select id="countReply" parameterType="int" resultType="int">
	select count(*) from reply where postid = #{postid}
</select>
<insert id="insertReply" parameterType="com.spring.dto.ReplyDto">
	insert into reply values(reply_seq.nextval, #{postid}, #{repcon}, sysdate, #{userid}, #{nickname})
</insert>
<delete id="deleteReply" parameterType="int">
	delete from reply where replyid = #{replyid} 
</delete>
<select id = "descscore" resultType="com.spring.dto.UsersDto">
	select nickname, gscore from users order by gscore desc
</select>
</mapper>