<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dao.MypageDao">

	<update id="updateMy" parameterType="com.spring.dto.MypageDto">
		update users set pw=#{pw}, nickname=#{nickname},
		 address=#{address}, email=#{email}, birth=#{birth}
		  where id=#{id}
	</update>

	<select id="nnCheck" parameterType="String" resultType="String">
		select nickname from users where nickname =#{nickname}
	</select>
	
	<delete id="deletemy" parameterType="String">
		delete from user where id = #{id}
	</delete>

</mapper>

