@charset "EUC-KR";
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: linear-gradient(45deg, greenyellow, dodgerblue);
  font-family: "Sansita Swashed", cursive;
}
.center {
  position: relative;
  padding: 10px 10px;
  background: #fff;
  border-radius: 10px;
}

.center h1 {
  font-size: 2em;
  border-left: 5px solid green;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 30px;
  font-weight: bold;
  padding-left: 10px;
}

.center p {
  font-size: 1em;
  border-left: 5px solid green;
  padding: 10px;
  color: #000;
  font-weight: bold;
}

.center label {
  font-size: 1em;
  border-left: 5px solid white;
  padding: 10px;
  color: #000;
  font-weight: bold;
}

.center .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin: 10px;
}

.center .inputbox:last-child {
  margin-bottom: 0;
}
.center .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}

.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}


.center .inputbox [type="button"] {
  width: 50%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
}
.center .inputbox:hover [type="button"] {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}



