* {
	font-family: 'Gothic A1', sans-serif;
	font-family: 'Roboto', sans-serif;
}

@font-face {
	font-family: 'DungGeunMo';
	src: url("/font/DungGeunMo.ttf") format("truetype");
}	
body {
	background-color: mintcream;
}

.container {
	padding: 30px 0 0 0;
		display: grid;
		grid-template-areas:
		"a b"
		"c b"
		"e e";
		grid-template-columns: 200px 285px;
		justify-content: center;
		grid-gap: 15px;
		gap: 15px
	}

.picpick {
	grid-area: a;
	height: 180px;
}

.picpick h4 {
	font-family: 'DungGeunMo';
	font-size: 22px;
	font-weight: normal;
	color: black;
	margin: 0px 0px 5px 0px;
}

.picpick select {
	font-family: 'Gothic A1', sans-serif;
	width: 100%;
	height: 25px;
	margin-bottom: 20px;
	box-sizing: border-box;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom: 2px solid #00af79;	
}
.picpick input[type="text"] {
	width: 100%;
	height: 25px;
	box-sizing: border-box;
	margin-bottom: 5px;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom: 2px solid #00af79;	
}
.picpick select:focus, .picpick input[type="text"]:focus{
	outline: none;
}
.picpick select:hover, .picpick input[type="text"]:hover {
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom: 2px solid #Fed354;		
}
.picpick button {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	background-color: #00af79;
	border:0;
	color: white;
	border-radius: 100px;
  	font-size: 14px;
	padding: 0px;
	width: 100%;
	height: 30px;
	margin: 5px 0px;
}

.picinfo {
	font-family: 'Gothic A1', sans-serif;
	grid-area: c;
	height: 90px;
}

.picinfo h5 {
	font-size: 17px;
	font-weight: normal;
	color: gray;
	margin: 0px 0px 5px 0px;
}

.preview {
	grid-area: b;
	height: 285px;
	border: 1px solid #00af79;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-x: auto;
	overflow-y: auto;
	background-color: white;
}

.canvas {
	max-width: 100%;
	max-height: 100%;
}

.canvas table, .canvas tr, .canvas td {
  border: silver 1px dotted;
}

.canvas table {
  border-collapse: collapse;
}

.canvas tr {
  height: 1px;
}

.canvas td {
  min-width: 1px;
  box-sizing: border-box;
}

.buttons {
	grid-area: e;
	display: flex;
}

.h1 {
	height: 40px;
	line-height: 40px;
}

.buttons h1 {
	font-family: 'Gothic A1', sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: black;
	margin: 0px;
}

.buttons button {
	font-family: 'Roboto', sans-serif;	
	box-sizing: border-box;
	background-color: #00af79;
	border:0;
	border-radius: 100px;
	color: white;
  	font-size: 14px;
	padding: 0px;
	width: 70px;
	height: 40px;
	margin: 0px 7px;
}
.buttons button:hover{
	background-color: #Fed354;
	color: #00af79;	
}

.makespace {
	margin-left: auto;
	margin-right: auto;
}

.hidearea {
	display: none;
}