.container {
	display: grid;
	grid-template-areas:
		"left a b c right"
		"left d d d right"
		"left p p p right";
	grid-template-columns: auto 150px 180px 950px auto;
}

.left {
	grid-area: left;
}

.right {
	grid-area: right;
}

.size_side {
	height: 170px;
	grid-area: a;
	font-size: 15px;
	text-align: left;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

.size_top {
	height: 25px;
	line-height: 25px;
	align-self: center;
}

.size_top p {
	margin: 0px;
	font-size: 18px;
	font-weight: bold;
}
        
.size_c {
	margin-top: 20px;
	display: flex;
	padding: 0px 22px;
}

.size_c p {
	height: 25px;
	line-height:25px;
	margin: 0px;
	font-size: 15px;
}

.size_c select {
	box-sizing: border-box;
	height: 25px;
	width: 50px;
	margin: 0px;
}

.pal_l {
	height: 170px;
	grid-area: b;
	display : flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pal_l p {
	margin: 0px 10px 0px 0px;
}

.pal_l h4 {
	margin: 5px 0px;
	font-weight: normal;
	font-size: 16px;
}

.pal_l_1 {
	height: 25%;
	display: flex;
	flex-wrap: nowrap;
	white-space: nowrap;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	width: 180px;
}


.color_picker {
	border: 1px solid #dcdcdc;
  	-webkit-appearance: none;
 	padding: 0;
  	border: none;
  	width: 25px;
  	height: 25px;
  	cursor: pointer;
}

.color_picker::-webkit-color-swatch {
  	border: none;
  	padding: 0;
}

.color_picker::-webkit-color-swatch-wrapper {
 	border: none;
  	padding: 0;
}

.pal_l_2 {
	height: 25%;
	display: flex;
	flex-wrap: nowrap;
	white-space: nowrap;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}

.pal_l_3 {
	height: 55px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pal_r {
	grid-area: c;
	align-self : center;
}

.pal_r table, .pal_r tr, .pal_r td, .pal_l table, .pal_l tr, .pal_l td{
  border: silver 1px dotted;
}

.pal_r table, .pal_l table {
  border-collapse: collapse;
}

.pal_r tr, .pal_l tr {
  height: 25px;
}

.pal_r td, .pal_l td {
  min-width: 25px;
  box-sizing: border-box;
}

.pal_btn {
	grid-area: d;
	height : 60px;
	display: flex;
	flex-wrap: nowrap;
	white-space: nowrap;
	overflow: hidden;
	align-items: center;
	background-color: snow;
}

.pal_btn button {
	border-radius: 8px;
	padding: 0px;
	margin: 10px;
  	font-size: 14px;
  	width: 90px;
	height:	40px;
}

.pal_btn .btn0 {
	background-color: lightblue;
}

.pal_btn .btn1 {
	background-color: #ffdab9;

}

.pal_btn .btn2 {
	background-color: mintcream;	
}

.pal_btn p {
  font-size: 15px;
  color: #696969;
  margin-left: 10px;
}

.canvas {
	grid-area: p;	
}

.pixel-canvas {
  background-color : white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.canvas table, .canvas tr, .canvas td {
  border: silver 1px dotted;
}

.canvas table {
  border-collapse: collapse;
}

.canvas tr {
  height: 1px;
}

.canvas td {
  min-width: 1px;
  box-sizing: border-box;
}

.slzone {
	display: none;
}

.makespace {
	margin: 0px auto;
}