div:hover {
	cursor: default;
}

a, p {
	color: #00af79;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	margin: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
}

a:visited {
	color: black;
	cursor: pointer;
}

button {
	cursor: pointer;
}

.container {
	display: grid;
	grid-template-areas:
	"left center right";
	grid-template-columns: auto 1280px auto;
}

.size_left {
	grid-area: left;
}

.size_right {
	grid-area: right;
}

.center {
	grid-area: center;
}

.report_top {
	width: 100%;
	font-size: 12pt;
	border-top: 2px solid aquamarine;
	border-bottom: 2px solid aquamarine;
	display: flex;
}

.report_top > * {
	min-height: 50px;
	text-align: center;
	line-height: 50px;
}

.title {
	width: 500px;
}

.id {
	width: 150px;
}

.stack {
	width: 80px;
}

.reporter {
	width: 350px;
}

.judge {
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.report_con {
	width: 100%;
	font-size: 12pt;
	border-bottom: 1px solid skyblue;
	display: flex;
}

.report_con > *:not(.title) {
	min-height: 30px;
	line-height: 30px;
	text-align: center;
}

.report_con .title {
	text-align: left;
	min-height: 30px;
	line-height: 30px;
}

.report_con .judge select {
	height: 25px;
	box-sizing: border-box;
	margin: 0px;
}

.report_con .judge button {
	margin-left: 8px;
	padding: 0px;
	width: 40px;
	height: 25px;
	background-color: aliceblue;
	border-radius: 2px;
}

.pic_title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.picbtn {
	padding: 0px;
	width: 150px;
	height: 25px;
	background-color: lavender;
	border-radius: 2px;
}

.makespace {
	margin: 0px auto;
}