@charset "UTF-8";
body{
	margin:0;	
}
.footer-01{
	font-family: 'Roboto', sans-serif;
	display:flex;
	justify-content:space-between;	
    bottom: 0;
    left: 0;
    right: 0;
    color: #00af79;
    font-size:14px;
    padding: 8px 45px;
}
.footer-logo{
	align-items:flex-start;
	padding: 1px 24px;	
}

.footer-img{
	bottom:5px; 
	right: 5px;
	padding: 8px 24px;
	
}

img.infinite_rotating_logo{
    animation: rotate_image 10s linear infinite;
    transform-origin: 50% 50%;
}
 
@keyframes rotate_image{
	100% {
    	transform: rotate(360deg);
    }
}