@charset "UTF-8";

header {
	height: 330px;
	width: 100%;
	display: flex;
	overflow: hidden;
	position: relative;
	background-image: url("../image/title3.png");
	margin: 0;
	padding: 0;
	
}

header a {
	text-decoration: none;
	outline: none;
}

.h1 {
	position: absolute;
	top : 5%;
	right : 1%;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row nowrap;
	white-space: nowrap;
	overflow: hidden;
}

.g1 {
	margin: 15px;
	font-family: arial;
	font-weight: bold;
	font-size: 17pt;
	text-shadow: 0 0 3px red;
}

.h2 {
	position: absolute;
	bottom : 0%;
	left : 0%;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row nowrap;
	white-space: nowrap;
	overflow: hidden;
}

.g2 {
	margin: 30px;
	font-family: arial;
	font-weight: bold;
	font-size: 40pt;
	text-shadow: 0 0 4px blue;
}

.g2:hover {
	text-shadow: 0 0 6px violet;
}


