@charset "UTF-8";

body{
	margin:0;
}

.navbar-01{
	display:flex;
	justify-content:flex-end;
	align-items: center;
	background-color: #00af79;
	height: 40px;
 	padding: 0px 45px;
}

.navbar-01 a{
	text-decoration: none;
	color: #ffffff;
}
.navbar-01 a:hover{
	color: #Fed354;
}

.navbar_menu{
	display: flex;
	list-style: none;
	margin-top: 6px;
    margin-bottom: 6px;
}

.navbar_menu li{
	padding: 8px 12px;
}

.navbar-02{
	display:flex;
	justify-content:space-between;
	align-items: center;
	padding : 35px 45px;
}

.navbar-02 a{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
    font-weight: 400;	
  	text-decoration: none;
	color: black;
}
.navbar_menu02{
	display: flex;
	list-style: none;
}
.navbar_menu02 li{
	padding: 8px 12px;
}

.navbar_menu02 a:hover {
  	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%2300af79' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  	background-position: 0 100%;
 	background-size: auto 8px;
  	background-repeat: repeat-x;
  	text-decoration: none;
}

@media screen and (max-width:760px) {
	.navbar-02{
		flex-direction: column;
		align-items:flex-start;
		padding: 8px 24px;
	}
	.navbar_menu02{
		flex-direction: column;
		align-items: flex-end;
		width:100%;
	}
	.navbar_menu02 li {
		width: 100%;
		text-align: right;
		padding: 8px 70px;
		
	}
}
