@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.marquee{
  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --item-font-size: 10vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
}

.marquee__inner{
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial),0,0);
  animation: marquee 5s linear infinite;
/*   animation-play-state: paused;
 */}

.marquee span{
  white-space: nowrap;
  font-size: 90px;
  color: #00af79;
  padding: 0 2vw;
}

/* .marquee:hover .marquee__inner{
  // animation-play-state: running;
	// opacity: 1;
	// transition-duration: 0.4s;
} */

@keyframes marquee {
  0% {
  transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
   transform: translate3d(var(--move-final), 0, 0);
  }
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  max-height:1200;
  position: relative;
  margin-bottom: 500px;
  overflow:hidden;
}
.mySlides img{
  max-height: initial;
  margin-top: -6%;	
  margin-bottom: -4%;
}

/* Caption text */
.text{
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate( -50%, -50% );	
}
.text h1{
	font-family: 'Roboto', sans-serif;	
	font-size:50px;
	font-weight: 500;	
	color: white;
	text-align: left;
	margin-bottom:3px;
}
.text p{
	font-family: 'Gothic A1', sans-serif;
	font-size:15px;
	margin-top:3px;
	margin-bottom:10px;
	font-weight: 400;	
	color: white;
	text-align: left;	
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* 바로가기 버튼 */
.gobtn{
	font-family: 'Roboto', sans-serif;	
	font-size:17px;
	letter-spacing: 2px;	
	width: 100px;
	height: 30px;
	box-sizing: border-box;
	background-color: #00af79;
	border:0;
	border-radius: 100px;
	color: white;
	cursor: pointer;
 	margin-top: 5px;
	padding: 5px 20px;
	text-decoration-line: none;	
}
.gobtn:hover{
 	background-color: #Fed354;
	color: #00af79;		
}

/* 바로가기 버튼2 */
.gobtn2{
	font-family: 'Roboto', sans-serif;	
	font-size:17px;
	letter-spacing: 2px;	
	width: 100px;
	height: 30px;
	box-sizing: border-box;
	background-color: #Fed354;
	border:0;
	border-radius: 100px;
	color: #00af79;
	cursor: pointer;
 	margin-top: 5px;
	padding: 5px 20px;
	text-decoration-line: none;	
}
.gobtn2:hover{
 	background-color: #00af79;
	color: #Fed354;	
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
