p {
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: default;
	margin: 0px;
}

h1 {
	margin: 20px 0px;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1280px;
  height: 500px;
  position: relative;
  margin : 0px auto;
  overflow:hidden;
}
.mySlides img{
  max-height: initial;
  margin-top: -6%;	
  margin-bottom: -4%;
}

/* Caption text */
.text{
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate( -50%, -50% );	
}
.text h1{
	font-family: 'Roboto', sans-serif;	
	font-size:50px;
	font-weight: 500;	
	color: white;
	text-align: left;
	margin-bottom:3px;
}
.text p{
	font-family: 'Gothic A1', sans-serif;
	font-size:15px;
	margin-top:3px;
	margin-bottom:10px;
	font-weight: 400;	
	color: white;
	text-align: left;	
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.gobtn{
	font-family: 'Roboto', sans-serif;	
	font-size:17px;
	letter-spacing: 2px;	
	width: 100px;
	height: 30px;
	box-sizing: border-box;
	background-color: #00af79;
	border:0;
	border-radius: 100px;
	color: white;
	cursor: pointer;
 	margin-top: 5px;
	padding: 5px 20px;
	text-decoration-line: none;	
}
.gobtn:hover{
 	background-color: #Fed354;
	color: #00af79;		
}

.gobtn2{
	font-family: 'Roboto', sans-serif;	
	font-size:17px;
	letter-spacing: 2px;	
	width: 100px;
	height: 30px;
	box-sizing: border-box;
	background-color: #Fed354;
	border:0;
	border-radius: 100px;
	color: #00af79;
	cursor: pointer;
 	margin-top: 5px;
	padding: 5px 20px;
	text-decoration-line: none;	
}
.gobtn2:hover{
 	background-color: #00af79;
	color: #Fed354;	
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */

.white {
	position: relative;
}

.dots {
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.container {
	display: grid;
	margin: 0px auto;
	justify-items: center;
}

.container > div {
	width: 1280px;
}

.bestbox {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mainimage {
	margin: 0px 10px;
}

.board_best {
	display: flex;
	width: 1280px;
	justify-content: space-between;
}

.board_box {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	margin-bottom: 10px;
	cursor: pointer;
}

.picture {
	height: 250px;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.canvas {
	max-width: 100%;
	max-height: 100%;
}

.canvas table, .canvas tr, .canvas td {
  border: silver 1px dotted;
}

.canvas table {
  border-collapse: collapse;
}

.canvas tr {
  height: 5px;
}

.canvas td {
  min-width: 5px;
  box-sizing: border-box;
}

.title {
	height: 50px;
	width : 250px;
	margin: 7px 0px;
}

.title p {
	font-weight: bold;
	font-size: 33px;
}

.etc {
	height: 35px;
	width: 250px;
	display: flex;
}

.readcount {
	color: dimgray;
	margin-right: 10px;
}

.rec {
	color: red;
}

.fboard_box {
	display: flex;
	border: 1px solid black;
	margin-bottom: 10px;
	cursor: pointer;
	height: 200px;
	align-items: center;
}

.fpicture {
	width: 200px;
	margin-right: 10px;
}

.fpicture img {
	width: 200px;
	height: 200px;
	padding: 3px;
	object-fit: contain;
}

.fshow {
	display: flex;
	flex-direction: column;
	width: 700px;
	height: 200px;
}

.ftitle {
	margin-top: 10px;
	margin-bottom: 20px;
}

.ftitle h4 {
	font-size: 33px;
	margin: 0px;
}

.fcon {
	padding: 5px;
}

.fdate {
	width: 150px;
}

.makespace {
	margin: 0px auto;
}

.hidearea {
	display: none;
}
