@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.marquee{
  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --item-font-size: 10vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
}

.marquee__inner{
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial),0,0);
  animation: marquee 5s linear infinite;
/*   animation-play-state: paused;
 */}

.marquee span{
  white-space: nowrap;
  font-size: 90px;
  color: #00af79;
  padding: 0 2vw;
}

/* .marquee:hover .marquee__inner{
  // animation-play-state: running;
	// opacity: 1;
	// transition-duration: 0.4s;
} */

@keyframes marquee {
  0% {
  transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
   transform: translate3d(var(--move-final), 0, 0);
  }
}