/*
p {
	font-size: 13px;
	margin: 5px 1px;
}

span {
	font-size: 13px;
	margin: 5px 1px;
	color: red;
}
*/
h3{
	margin: 10px 0px -3px;
	font-size:17px;	
}
h2 {
	margin: 10px 0px 30px;
	
}

.container {
	display: grid;
	justify-content: center;
	margin-top: 40px;
	margin-bottom:100px;
}

.withdrawform {
	width: 330px;
	padding: 10px;
	border:0;
/* 	border: 1px solid green; */
}

.div1 {
	font-size: 14px;
	font-weight: bold;
	margin: 10px 1px 5px 1px;
}

.div2 {
	margin: 0px 0px 10px 0px;
}

.div2 input[type="text"], .div2 input[type="password"] {
/* 	width: 100%;
	height: 30px;
	box-sizing: border-box;
	margin: 0px; */
	width: 300px;
	height: 30px;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom: 2px solid #00af79;	
	margin: 5px;	
}
.div2 input[type="text"]:focus, .div2 input[type="password"]:focus {
	outline: none;
}

.buttons {
	display: flex;
	justify-content: center;
}

.buttons button {
/* 	width: 20%;
	height: 30px;
	box-sizing: border-box;
	background-color: lightskyblue;
	border-radius: 2px;
	margin: 0px 10px;
	padding: 0px; */
	font-family: 'Roboto', sans-serif;	
	width: 120px;
	height: 30px;
	box-sizing: border-box;
	background-color: #00af79;
	border:0;
	border-radius: 100px;
	color: white;
	cursor: pointer;
	margin: 0px 4px;
	padding: 0px;	
}
.buttons button:hover{
	background-color: #Fed354;
	color: #00af79;	
}

.makespace {
	margin: 0px auto;
}

/*
.hidearea {
	display: none;
}
*/