body{
	margin:0;
}

h1.edit_title{
	font-family: 'Press Start 2P', cursive;
	font-size: 17px;
	color: #00af79;
	font-weight: 400;
	margin-bottom: 50px;
	margin-top: 50px;
	text-align: center;		
}

h1.edit_title2{
	font-family: 'Roboto', sans-serif;	
	font-size: 25px;
	color: white;
	font-weight: bold;
	padding-right: 30px;	
	padding-left: 36px;	
	margin-top: -5px; 
	text-align: left;		
}

p {
	font-size: 13px;
	margin: 5px 1px;
}

span {
	font-size: 13px;
	margin: 5px 1px;
	color: red;
}

div.left {
     width: 35%;
     height: 100vh;
     float: left;
     box-sizing: border-box;
     background-color: #00af79;
     position: fixed;
     overflow: auto;
}

div.right {
     width: 65%;
     float: right;
     box-sizing: border-box;
	 position: relative;	
}

.container {
     width: 100%;
     height: 300px;
}

.update_form {
	width: 330px;
	padding: 10px;
/* 	border: 1px solid green; */
	position: absolute;
	margin-top:20px;
	top: 50%;
	left: 50%;
	transform:translate(-50%, 0%);	
}

.smile{
	margin:50px auto 20px 30px;
	margin-bottom: 20px;
	position: relative;	
}
.sm-2{
	position: absolute;
	top : 0px;
	left: 0px;
	display: none;
}
.smile:hover .sm-2{
	display:block;
}

.update_text {
	font-size: 14px;
	font-weight: bold;
	margin: 0px 1px 5px 1px;
}

.update_item {
	margin: 0px 0px 10px 0px;
}

.update_item input[type="text"] {
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	margin: 0px;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom: 2px solid #00af79;	
}

.update_item input[type="text"]:focus {
	outline: none;	
}
.update_item input[type="text"]:hover {
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom: 2px solid #Fed354;		
}

.update_birth {
	margin: 0px 0px 10px 0px;
	display: flex;
}

.update_birth input[type="text"] {
	width: 32%;
	height: 30px;
	box-sizing: border-box;
	margin: 0px;
}

.update_birth select {
	width: 32%;
	height: 30px;
	box-sizing: border-box;
	margin: 0px;
}

.item_line1 {
	margin: 0px 0px 10px 0px;
	display: flex;
}

.item_line1 input[type="text"] {
	width: 70%;
	height: 30px;
	box-sizing: border-box;
	margin: 0px;
}

.item_line1 button {
	font-family: 'Roboto', sans-serif;	
	width: 100px;
	height: 30px;
	box-sizing: border-box;
	background-color: #00af79;
	border:0;
	border-radius: 100px;
	color: white;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
}
.item_line1 button:hover{
	background-color: #Fed354;
	color: #00af79;	
}

.up_submit {
	display: flex;
	justify-content: center;
	margin-top:30px;
}

.up_submit button {
	font-family: 'Roboto', sans-serif;	
	width: 100px;
	height: 30px;
	box-sizing: border-box;
	background-color: #00af79;
	border:0;
	border-radius: 100px;
	color: white;
	cursor: pointer;
	margin: 0px 5px 40px 0px;
	padding: 0px;
}
.submit_btns button:hover{
	background-color: #Fed354;
	color: #00af79;	
}
.makespace {
	margin: 0px auto;
}


.hidearea {
	display: none;
}
