.container {
	display: grid;
	grid-template-areas:
	"left center right";
	grid-template-columns: auto 1280px auto;
	margin-bottom:30px;
}

.size_left {
	grid-area: left;
}

.size_right {
	grid-area: right;
}

.center {
	grid-area: center;
	display: grid;
	grid-template-areas:
	"top top"
	"menu con";
	grid-template-columns: 280px 1000px;
}

.top {
	grid-area: top;
	height: 55px;
	margin: 10px 0px;
}

.top p {
	margin: 0px;
	font-size: 30px;
	font-weight: bold;
	color:#00af79;	
}

.menubar {
	grid-area: menu;
	display: flex;
	flex-direction: column;
	text-align: center;	 	
}

.menu {
	width: 215px;	
	margin-bottom:5px;
    border: 2px solid #00af79;
    border-radius: 100px;
    box-sizing: border-box;
    color: rgb(40, 40, 40);
    cursor: pointer;
    flex: 0 0 auto;
    padding: 10px 15px;
}
.menu:hover {
	background-color: #Fed354;
}

.hr {
	width: 227px;
}

.hr hr{
	width: 100%;
}

.menu p {
	margin: 0px;
	font-family: 'Gothic A1', sans-serif;	
	font-weight: 500;
	text-decoration: none;
	font-size: 15px;		
}

.selected {
	background-color: #Fed354;
}

/* .myinfo {
	background-color: lightcyan;
} */

.withdraw {
 	background-color: rgb(240, 85, 66, 0.5);
	width: 215px;	
	margin-bottom:5px;
    border: 2px solid #00af79;
    border-radius: 100px;
    box-sizing: border-box;
    color: rgb(40, 40, 40);
    cursor: pointer;
    flex: 0 0 auto;
    padding: 10px 15px;
}
.withdraw:hover {
	background-color: #f05542;	
	color:white;
}
	

.withdraw p {
	margin: 0px;
/* 	color: black; */
	font-family: 'Gothic A1', sans-serif;	
	font-weight: 500;
	text-decoration: none;
	font-size: 15px;		
}	
	
.con {
	grid-area: con;
	padding-top: 5px;
}

.trace {
	display: flex;
	border-top: 1px solid #00af79;
	height: 75px;
    cursor: pointer;	
}

.trace:hover{
	background-color: #Fed354;
}

.trace:last-child {
	border-bottom: 1px solid #00af79;
}

.trace h4 {
	margin: 0px;
	font-size: 12pt;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}

.trace h5 {
	margin: 0px;
	font-size: 13pt;
	overflow: hidden;
	text-overflow: ellipsis;
}

.trace h6 {
	margin: 0px;
	font-size: 11pt;
	font-weight: normal;
	color : dimgray;
	overflow: hidden;
	text-overflow: ellipsis;
}


.t1 {
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}



