h4 {
	font-size: 18px;
	font-weight: normal;
	color: black;
	margin: 0px;
}

h5 {
	font-size: 15px;
	font-weight: normal;
	color: black;
	margin: 0px;
}

h6 {
	font-size: 12px;
	font-weight: normal;
	color: grey;
	margin: 0px;
}

h6:hover {
	cursor: default;	
}

.container {
	display: grid;
	grid-template-areas:
	"l t r"
	"l c r";
	grid-template-columns: auto 1280px auto;
}

.side_left {
	grid-area: l;
}

.side_right {
	grid-area: r;
}

.side_top {
	grid-area: t;
	height: 60px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin-left: 10px;
	margin-right: 10px;
}

.side_top p {
	margin: 0px 0px 0px 5px;
	font-size: 30px;
}

.side_top button {
	padding: 0px;
	width: 85px;
	height: 40px;
	margin-left: 7px;
	background-color: lavender;
	border-radius: 8px;
  	font-size: 16px;
}

.center {
	grid-area: c;
	margin-left: 8px;
	margin-right: 8px;
	padding: 15px;
	border: 2px solid black;
	box-sizing: border-box;
}

.title p {
	margin: 0px;
	font-size: 25px;
	font-weight: bold;
}

.user {
	display: flex;
	align-items: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid black;
}

.user > * {
	height: 30px;
	line-height: 30px;
}

.user > div:first-child {
	margin-right: 7px;
}

.canvas {
	margin-top: 10px;
	margin-bottom: 10px;
}

.canvas table, .canvas tr, .canvas td {
  border: silver 1px dotted;
}

.canvas table {
  border-collapse: collapse;
}

.canvas tr {
  height: 20px;
}

.canvas td {
  min-width: 20px;
  box-sizing: border-box;
}

.content {
	margin-bottom: 30px;
}

.content_text {
	box-sizing: border-box;
	overflow-y: hidden;
	width: 100%;
	height: auto;
	resize: none;
	border: none;
	font-size: 11pt;
	font-family: sans-serif;
}

.content_text:focus {
	outline: none;
}

.reply {
	border-top: 1px solid blue;
	border-bottom: 1px solid blue;
}

.replytop {
	display: flex;
}

.replytop > * {
	height: 36px;
	line-height: 36px;
}

.replytop > div:first-child {
	margin-right: 7px;
}

.r {
	display: flex;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid grey;
}

.r_id {
	width: 120px;
	height: 25px;
	line-height: 25px;
}

.repcon {
	width: 940px;
	align-self: center;
}

.repcon p {
	font-size: 15px;
	font-weight: normal;
	color: black;
	margin: 0px;
	word-break: break-all;
}

.r_report, .r_date, .r_del {
	margin-left: 7px;
	height: 25px;
	line-height: 25px;
}

.writereply {
	margin-top: 10px;
}

.writereply_1 {
	width: 100%;
}

.replyzone {
	width: 100%;
}

.replyzone textarea{
	box-sizing: border-box;
	width: 100%;
	height: 100px;
	padding: 5px;
	resize: none;
	font-size: 15px;
}

.writereply_2 {
	display:flex;
	height: 45px;
	line-height: 45px;
	margin-top: 5px;
}

.writereply_2 p {
	margin: 0px;
	
}

.writereply_2 button {
	padding: 0px;
	width: 100px;
	height: 45px;
	margin-left: 7px;
	background-color: aliceblue;
	border-radius: 8px;
  	font-size: 16px;
}

.makespace {
	margin-left: auto;
	margin-right: auto;
}

.hidden {
	display: none;
}