
@font-face {
	font-family: 'DungGeunMo';
	src: url("/font/DungGeunMo.ttf") format("truetype");
}	

.title-board{
	text-align: center;
	margin-bottom: 20px;
}
.dots {
  margin: 12px 0;
  border: 0;
  text-align: center;
}
.dots:before {
  content: "•••";
  font-size: 30px;
  color: #00af79;
}

.title-board span{
	font-size: 13px;
	color: #808080;	
}
h2.mb-2 {
	font-family: 'Press Start 2P', cursive;
	letter-spacing: 2px;
	font-size: 20px;
	color: #00af79;
	font-weight: 400;
	margin-bottom: 10px;
	margin-top: 50px;
}

.container {
	display: grid;
	grid-template-areas:
	"l t a r"
	"l c a r";
	grid-template-columns: auto 1000px 280px auto;
}

.side_top {
	font-family: 'Roboto', sans-serif;
	grid-area: t;
	height: 50px;
	flex-wrap: nowrap;
	align-items: flex-end;
	display: flex;
	margin-bottom: 10px;
}

.side_top button {
	background-color: transparent;
	border: 2px solid #00af79;
	border-radius: 100px;
    box-sizing: border-box;
	width: 85px;
	height: 40px;
	padding: 0px;
	margin-left: 10px;
	margin-right: 5px;
	margin-bottom: 0px;
  	font-size: 14px;
}
.side_top button:hover {
	background-color: #Fed354;
}
.side_top p {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	padding: 0px;
	position: relative;
}
.side_top p:hover{
	cursor: pointer;
}
.side_top p::after{
	content: '';
	display: block;
  	position: absolute;
  	bottom: 0px;
  	width: 0;
  	height: 5px;
  	left:50%;
  	background: #00af79;
}
.side_top p:hover::after {
	width: 100%;
	left: 0;
	transition: width .3s;
}


.side_top .writebtn {
	margin-left: auto;
	margin-right: 10px;
}

.side_left {
	grid-area: l;
}

.side_right {
	grid-area: r;
}

.center {
	grid-area: c;
	margin-left: 10px;
	margin-right: 10px;
}

.center table {
	width: 100%;
	font-size: 12pt;
	border-bottom: 2px solid #00af79;
}

.center td {
	border-top: 1px dashed #00af79;
}

.center .tabletop {
	font-family: 'DungGeunMo';
	width: 100%;
	font-size: 12pt;
	font-weight: bold;
	border-top: 2px solid #00af79;
	border-bottom: 2px solid #00af79;
	display: flex;
}

.center .tabletop > * {
	min-height: 50px;
	text-align: center;
	line-height: 50px;
}

.center .tbno {
	width: 60px;
}

.center .tbhead {
	width: 60px;
}

.center .tbtitle {
	width: 500px;
}

.center .tbuser {
	width: 120px;
}

.center .tbdate {
	width: 120px;
}

.center .tbcount {
	width: 60px;
}

.center .tbrec {
	width: 60px;
}

.center .table {
	font-family: 'Gothic A1', sans-serif;
	width: 100%;
	font-size: 12pt;
	border-bottom: 1px solid #00af79;
	display: flex;
	padding: 5px;
}

.center a {
	margin: 0px;
	text-decoration:none;
	color: black;
}

.center a:visited {
	color : black;
}

.center .table > *:not(.title) {
	min-height: 30px;
	text-align: center;
	line-height: 30px;
}

.title {
	width: 500px;
	min-height: 30px;
	line-height: 30px;
	text-align: left;
}

.page {
	margin-top: 7px;
	margin-bottom: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
}

.page div {
	margin: 0px 3px;
}

.searcharea {
	display: flex;
	align-items: center;
	justify-content: center;
}

.searcharea select {
	width: 60px;
	height: 25px;
	margin: 0px 3px;
}

.searcharea input[type=text] {
	width: 170px;
	height: 19px;
	margin: 0px 3px;
}

.searcharea button {
	width: 45px;
	height: 25px;
	padding: 0px;
	margin: 0px 3px;
}

.side_rank {
   position:relative;
   grid-area: a;
   margin: 15px;
   padding: 15px;
}

.ranktext{
	font-family: 'DungGeunMo';
	text-align: center;		
    position:absolute;
    width: 80%;
	top: 23%;
	left: 50%;
	transform: translate( -50%, -50% );	
    color: white;
}     

.ranktext h2 {
	margin: 0px 0px 5px 0px;
	font-size: 20px;
}

.ranktext a {

}

.ranktext a:link {
	text-decoration-line: none;
}
.ranktext a:hover {
	font-weight:bold;
}
.ranktext a:visited {
	color:white;
}

.ranktext p {
	margin: 0px 0px 10px 0px;
}