.container {
	display: grid;
	grid-template-areas:
	"l t a r"
	"l c a r";
	grid-template-columns: auto 1000px 280px auto;
}

.side_top {
	grid-area: t;
	height: 50px;
	flex-wrap: nowrap;
	align-items: flex-end;
	display: flex;
	margin-bottom: 10px;
}

.side_top button {
	background-color: aliceblue;
	border-radius: 2px;
	width: 85px;
	height: 40px;
	padding: 0px;
	margin-left: 10px;
	margin-right: 5px;
	margin-bottom: 0px;
  	font-size: 14px;
  	box-shadow: 2px 2px gainsboro;
}

.side_top p {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	padding: 0px;
	color: mediumblue;
}

.side_top p:hover {
	cursor: default;
}

.side_top .writebtn {
	margin-left: auto;
	margin-right: 10px;
}

.side_left {
	grid-area: l;
}

.side_right {
	grid-area: r;
}

.center {
	grid-area: c;
	margin-left: 10px;
	margin-right: 10px;
}

.center table {
	width: 100%;
	font-size: 12pt;
	border-bottom: 2px solid aquamarine;
}

.center td {
	border-top: 1px dashed skyblue;
}

.center .tabletop {
	width: 100%;
	font-size: 12pt;
	border-top: 2px solid aquamarine;
	border-bottom: 2px solid aquamarine;
	display: flex;
}

.center .tabletop > * {
	min-height: 50px;
	text-align: center;
	line-height: 50px;
}

.center .tbno {
	width: 60px;
}

.center .tbhead {
	width: 60px;
}

.center .tbtitle {
	width: 500px;
}

.center .tbuser {
	width: 120px;
}

.center .tbdate {
	width: 120px;
}

.center .tbcount {
	width: 60px;
}

.center .tbrec {
	width: 60px;
}

.center .table {
	width: 100%;
	font-size: 12pt;
	border-bottom: 1px solid skyblue;
	display: flex;
}

.center a {
	margin: 0px;
	text-decoration:none;
	color: black;
}

.center a:visited {
	color : black;
}

.center .table > *:not(.title) {
	min-height: 30px;
	text-align: center;
	line-height: 30px;
}

.title {
	width: 500px;
	min-height: 30px;
	line-height: 30px;
	text-align: left;
}

.page {
	margin-top: 7px;
	margin-bottom: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
}

.page div {
	margin: 0px 3px;
}

.searcharea {
	display: flex;
	align-items: center;
	justify-content: center;
}

.searcharea select {
	width: 60px;
	height: 25px;
	margin: 0px 3px;
}

.searcharea input[type=text] {
	width: 170px;
	height: 19px;
	margin: 0px 3px;
}

.searcharea button {
	width: 45px;
	height: 25px;
	padding: 0px;
	margin: 0px 3px;
}

.noname {
	grid-area: a;
	margin: 15px;
	padding: 15px;
}
